<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>490473496971-2j6ocufasi2irb18qs5vemdauvnvohdb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490473496971-2j6ocufasi2irb18qs5vemdauvnvohdb</string>
	<key>API_KEY</key>
	<string>AIzaSyC7-kcQbDbgGLHJOSaWH3VZ-X14-fSd0Eg</string>
	<key>GCM_SENDER_ID</key>
	<string>490473496971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flu.getxboilerplate</string>
	<key>PROJECT_ID</key>
	<string>flu-boilerplate</string>
	<key>STORAGE_BUCKET</key>
	<string>flu-boilerplate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490473496971:ios:046765834857950e6f0f8e</string>
</dict>
</plist>